# Define owners for content and assets

# Images

src/assets/images/ @hoangthaientre @ptn1411 @namlethanh2503 @zvw180
src/assets/audio/ @hoangthaientre @ptn1411 @namlethanh2503 @zvw180
src/assets/videos/ @hoangthaientre @ptn1411 @namlethanh2503 @zvw180

# Content collections

src/content/author/ @hoangthaientre @ptn1411 @namlethanh2503 @zvw180
src/content/category/ @hoangthaientre @ptn1411 @namlethanh2503 @zvw180
src/content/post/ @hoangthaientre @ptn1411 @namlethanh2503 @zvw180
src/content/tag/ @hoangthaientre @ptn1411 @namlethanh2503 @zvw180
src/content/page/ @hoangthaientre @ptn1411 @namlethanh2503 @zvw180
src/content/stories/ @hoangthaientre @ptn1411 @namlethanh2503 @zvw180
