---
import { cn } from '~/utils/cn';
const { heading } = Astro.props;

type Heading = {
  depth: number;
  text: string;
  slug: string;
  subheadings: Heading[];
};

export interface Props {
  heading: Heading;
}
---

<li class="flex flex-col">
  <a
    href={'#' + heading.slug}
    class={cn(
      `block px-3 py-1.5 text-sm rounded-md mb-1 transition-all duration-200
    text-[#4b5a5c] dark:text-[#d9f0f2]
    hover:text-[#367980]
    hover:bg-[color-mix(in srgb, #367980 15%, transparent)]
    focus-visible:ring-2 focus-visible:ring-[#367980]
    focus-visible:ring-offset-2 focus-visible:ring-offset-white dark:focus-visible:ring-offset-[color:var(--aw-color-bg-page)]
      line-clamp-2`
    )}>
    {heading.text}
  </a>

  {
    heading.subheadings.length > 0 && (
      <ul class="ml-3 border-l border-gray-200 dark:border-slate-700 pl-3 mt-1 space-y-1">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
